.breadcrumbs {
  margin-bottom: 25px;

  &__container {
    padding: 5px 0;
  }

  &__list {
    display: flex;
    gap: 6px;
  }

  &__link {
    font-weight: $fontWeight-Regular;

    @include fontSize-lineHeight(14px, 100%);

    color: $color-gray;

    &--active {
      color: $color-dark-primary;
    }
  }
}
