.catalog {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 134px;
    gap: 32px;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 3 span;
  }

  &__filter {
    &-title {
      margin-bottom: 21px;
      font-weight: $fontWeight-Regular;

      @include fontSize-lineHeight(18px, 130%);

      color: $color-black;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 29px;
    }

    &-subtitle {
      margin-bottom: 8px;
      font-weight: $fontWeight-SemiBold;

      @include fontSize-lineHeight(16px, 130%);

      color: $color-dark-gray;

      &--price {
        margin-bottom: 4px;
      }
    }

    &-list {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 11px;
    }

    &-item {
      position: relative;
    }

    &-label-checkbox {
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &-input-checkbox {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      cursor: pointer;

      &:checked
        ~ .catalog__filter-custom-checkbox
        .catalog__filter-custom-checkbox-mark {
        display: block;
      }

      &:checked ~ .catalog__filter-custom-checkbox {
        border-color: $color-primary;
        background-color: $color-primary;
      }
    }

    &-custom-checkbox {
      position: absolute;
      left: 0;
      top: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-gray;
      border-radius: 2px;
      width: 20px;
      height: 20px;
      background-color: $color-white;

      @include transition((background-color border-color), 0.4s, ease);

      &-mark {
        position: absolute;
        left: 3px;
        top: 2px;
        display: none;
        width: 15px;
        height: 12px;
        fill: transparent;
        stroke: $color-white;
        stroke-width: 2px;

        @include transition((display), 0.4s, ease);
      }

      &-text {
        margin-left: 32px;
        font-weight: $fontWeight-Regular;

        @include fontSize-lineHeight(16px, 130%);

        color: $color-dark-gray;
      }
    }

    &-wrapper {
      display: inline-flex;
      gap: 8px;
    }

    &-label {
      &-span {
        margin-right: 6px;
      }
    }

    &-input-text {
      border: 1px solid $color-dark-gray;
      border-radius: 2px;
      padding: 3px 11px;
      width: 100%;
      max-width: 86px;
      font-weight: $fontWeight-Regular;
      color: $color-dark-gray;

      @include fontSize-lineHeight(16px, 130%);
    }
  }

  &__banner {
    border-radius: 10px 10px 0 0;

    @include background(
      url("../img/1920/new_collection-banner_catalog.jpg"),
      top,
      no-repeat,
      auto
    );

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 190px;
      border-radius: 0 0 10px 10px;
      padding: 30px;
      background-color: $color-black;
    }

    &-subtitle {
      width: 100%;
      max-width: 199px;
      font-family: $fontFamily-PlayfairDisplay;
      font-weight: $fontWeight-Black;
      color: $color-gold;

      @include fontSize-lineHeight(24px, normal);
    }

    &-description {
      margin: 0;
      margin-bottom: 12px;
      width: 100%;
      max-width: 199px;
      font-weight: $fontWeight-Regular;
      color: $color-white;

      @include fontSize-lineHeight(16px, normal);
    }

    &-link {
      position: relative;
      z-index: 11;
      display: inline-flex;
      align-items: center;
      align-self: flex-start;
      margin-top: auto;
      font-weight: $fontWeight-Bold;
      color: $color-primary;
      gap: 5px;

      @include fontSize-lineHeight(16px, 120%);
      @include transition((color), 0.3s, ease-in);

      &-span {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          z-index: -11;
          border-bottom: 2px solid transparent;
          width: 100%;

          @include transition((border-color), 0.3s, ease-in);
        }
      }

      &-circle-icon {
        width: 22px;
        height: 22px;
        fill: transparent;
        stroke: $color-primary;
        stroke-width: 2;

        @include transition((fill stroke), 0.4s, ease);
      }

      &-arrow-icon {
        position: absolute;
        left: 94px;
        top: 6px;
        width: 5px;
        height: 10px;
        fill: transparent;
        stroke: $color-primary;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;

        @include transition((fill stroke), 0.4s, ease);
      }

      &:focus-visible:not(:hover, :active) {
        .catalog__banner-link-span::after {
          border-color: $color-primary;
        }

        .catalog__banner-link-circle-icon {
          fill: $color-light-primary;
          stroke: $color-primary;
        }

        .catalog__banner-link-arrow-icon {
          stroke: $color-white;
        }
      }

      &:hover {
        .catalog__banner-link-span::after {
          border-color: $color-primary;
        }

        .catalog__banner-link-circle-icon {
          fill: $color-primary;
          stroke: $color-primary;
        }

        .catalog__banner-link-arrow-icon {
          stroke: $color-white;
        }
      }

      &:active {
        color: $color-dark-primary;

        .catalog__banner-link-span::after {
          border-color: $color-dark-primary;
        }

        .catalog__banner-link-circle-icon {
          fill: $color-dark-primary;
          stroke: $color-dark-primary;
        }

        .catalog__banner-link-arrow-icon {
          stroke: $color-white;
        }
      }
    }
  }

  &__list {
    grid-column: 9 span;

    &-title {
      margin-bottom: 24px;

      @include fontSize-lineHeight(24px, 130%);
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      border-radius: 10px;
      padding: 30px;
      min-height: 420px;
      background-color: $color-light-gray;

      @include transition((background-color), 0.3s, ease-out);

      &-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        height: 100%;
      }

      &:nth-child(3) {
        padding: 0;

        &:focus:not(:hover, :active) {
          background-color: $color-light-gray;
        }

        &:hover {
          background-color: $color-gray;
        }

        &:active {
          background-color: $color-dark-gray;
        }
      }
    }

    &-status-rating {
      position: absolute;
      left: 30px;
      top: 30px;
      display: inline-flex;
      align-items: center;
      font-weight: $fontWeight-Regular;
      color: $color-orange;
      gap: 10px;

      @include fontSize-lineHeight(16px, 130%);

      &-icon {
        width: 15px;
        height: 15px;
        fill: $color-orange;
      }
    }

    &-picture {
      align-self: center;
      margin: 0 -15px 13px;
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    &-subtitle {
      @include fontSize-lineHeight(24px, 130%);

      font-weight: $fontWeight-Regular;
      color: $color-black;
    }

    &-price {
      @include fontSize-lineHeight(16px, 130%);

      font-weight: $fontWeight-Regular;
      color: $color-dark-gray;
    }

    &-btn {
      border: 2px solid $color-primary;
      border-radius: 10px;
      padding: 17px 33px;
      font-weight: $fontWeight-SemiBold;
      text-align: center;
      color: $color-primary;

      @include fontSize-lineHeight(16px, 100%);
      @include transition(
        (border-color background-color color),
        0.3s,
        ease-out
      );

      &:focus-visible:not(:hover, :active) {
        border-color: $color-dark-primary;
        color: $color-white;
        background-color: $color-light-primary;
      }

      &:hover {
        border-color: $color-primary;
        color: $color-white;
        background-color: $color-primary;
      }

      &:active {
        border-color: $color-dark-primary;
        color: $color-white;
        background-color: $color-dark-primary;
      }
    }

    &-pagination {
      position: absolute;
      right: calc(1280px - 61%);
      bottom: 70px;
      display: flex;
      gap: 17px;

      &-btn {
        border: 2px solid $color-primary;
        border-radius: 10px;
        width: 32px;
        height: 32px;
        font-weight: $fontWeight-SemiBold;
        text-align: center;

        @include fontSize-lineHeight(16px, 100%);
        @include transition((background-color color border-color), 0.4s, ease);

        &--active {
          border-color: $color-dark-primary;
          color: $color-white;
          background-color: $color-dark-primary;
        }

        &:focus-visible:not(:hover, :active) {
          border-color: $color-primary;
          color: $color-white;
          background-color: $color-light-primary;
        }

        &:hover {
          border-color: $color-primary;
          color: $color-white;
          background-color: $color-primary;
        }

        &:active {
          border-color: $color-dark-primary;
          color: $color-white;
          background-color: $color-dark-primary;
        }
      }
    }
  }
}
