.footer {
  &__top {
    background-color: $color-middle-gray;

    &-container {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 21px;

      @include tablet-big {
        flex-direction: column;
      }

      @include mobile {
        gap: 22px;
      }
    }

    &-left {
      display: flex;
      flex-direction: column;
      margin-right: 10px;

      @include tablet-big {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
      }

      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }

    &-logo {
      margin-bottom: 30px;
      font-size: 0;

      &-img {
        max-width: none;
      }

      @include tablet-big {
        margin-bottom: 26px;
      }

      @include mobile {
        margin-bottom: 22px;
      }
    }

    &-list-social {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      @include tablet-big {
        margin-right: 49px;
      }

      @include mobile {
        margin-right: 0;
      }
    }

    &-link-social {
      position: relative;
      z-index: 11;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        inset: -4px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &-icon {
        width: 30px;
        height: 30px;
        fill: $color-gray;

        @include transition((fill), 0.4s, ease);
      }

      &:focus-visible:not(:hover, :active) {
        &::after {
          background-color: $color-light-primary;
        }

        .footer__top-link-social-icon {
          fill: $color-white;
        }
      }

      &:hover {
        .footer__top-link-social-icon {
          fill: $color-primary;
        }
      }

      &:active {
        .footer__top-link-social-icon {
          fill: $color-dark-primary;
        }
      }
    }

    &-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 1px;

      @include laptop {
        margin-top: 3px;
      }

      @include tablet-big {
        justify-content: stretch;
        width: 100%;
      }

      @include tablet-mini {
        flex-wrap: wrap;
        gap: 10px;
      }

      @include mobile {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 28px 19px;
      }
    }

    &-block {
      min-width: 128px;

      &:nth-child(1) {
        margin-right: 69px;

        @include laptop {
          margin-right: 32px;
        }

        @include tablet-big {
          flex-grow: 1;
          margin-right: 39px;
          min-width: 0;
        }

        @include mobile {
          grid-column: 3 span;
          margin-right: 0;
        }
      }

      &:nth-child(2) {
        margin-right: 131px;

        @include laptop {
          margin-right: 93px;
        }

        @include tablet-big {
          flex-grow: 10;
          margin-right: 39px;
          min-width: 0;
        }

        @include mobile {
          grid-column: 3 span;
          margin-right: 0;
        }
      }

      &:nth-child(3) {
        margin-right: 125px;

        @include laptop {
          margin-right: 90px;
        }

        @include tablet-big {
          flex-grow: 20;
          margin-right: 39px;
          min-width: 0;
        }

        @include mobile {
          grid-column: 3 span;
          margin-right: 0;
        }
      }

      &:nth-child(4) {
        @include tablet-big {
          flex-grow: 6;
          max-width: 128px;
        }

        @include mobile {
          grid-column: 3 span;
          margin-right: 0;
        }
      }

      &-title {
        margin-bottom: 10px;
        font-weight: $fontWeight-Regular;

        @include fontSize-lineHeight(16px, 100%);

        color: $color-black;

        @include laptop {
          margin-bottom: 7px;
        }

        &-link {
          position: relative;
          z-index: 11;

          @include transition((color), 0.3s, ease-in);

          &::after {
            content: "";
            position: absolute;
            inset: -1px -10px;
            z-index: -11;

            @include transition((background-color), 0.3s, ease-in);
          }

          &:focus-visible:not(:hover, :active) {
            color: $color-black;

            &::after {
              background-color: $color-pink-violet;
            }
          }

          &:hover {
            color: $color-primary;
          }

          &:active {
            color: $color-dark-primary;
          }
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &-item {
        font-weight: $fontWeight-Regular;

        @include fontSize-lineHeight(14px, 100%);

        color: $color-gray;

        &-link {
          position: relative;
          z-index: 11;

          @include transition((color), 0.3s, ease-in);

          &::after {
            content: "";
            position: absolute;
            inset: -1px -10px;
            z-index: -11;

            @include transition((background-color), 0.3s, ease-in);
          }

          &:focus-visible:not(:hover, :active) {
            color: $color-dark-primary;

            &::after {
              background-color: $color-pink-violet;
            }
          }

          &:hover {
            color: $color-primary;
          }

          &:active {
            color: $color-dark-primary;
          }
        }
      }
    }
  }

  &__bottom {
    background-color: $color-light-gray;

    &-container {
      padding: 5px 0;
      text-align: center;
    }

    &-copywriting {
      font-weight: $fontWeight-Regular;

      @include fontSize-lineHeight(14px, normal);

      color: $color-gray;
    }
  }
}
