.header {
  position: relative;
  margin-bottom: 32px;

  @include tablet-small {
    overflow: hidden;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  &__top {
    background-color: $color-light-gray;

    @include mobile {
      order: -1;
      border-top: 1px solid $color-light-gray;
      border-bottom: 1px solid $color-light-gray;
      background-color: $color-white;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 14px;

      @include laptop {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 18px;
        padding-bottom: 17px;
        gap: 35px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 46%;
          background-color: $color-white;
        }
      }

      @include tablet-big {
        gap: 36px;
      }

      @include mobile {
        padding-top: 14px;
        padding-bottom: 14px;

        &::before {
          display: none;
        }
      }
    }

    &-wrapper {
      margin-right: 10px;
      width: 100%;
      max-width: 146px;
    }

    &-tel {
      position: relative;
      z-index: 11;
      display: flex;
      align-items: center;
      font-weight: $fontWeight-Regular;
      letter-spacing: 0.7px;
      color: $color-orange;

      @include fontSize-lineHeight(14px, 100%);
      @include transition((color), 0.3s, ease-in);

      &::after {
        content: "";
        position: absolute;
        inset: -4px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &-icon {
        width: 22px;
        height: 22px;
        fill: $color-orange;

        @include transition((fill), 0.3s, ease-in);

        @include laptop {
          margin-right: 2px;
          width: 20px;
          height: 20px;
        }
      }

      &:focus-visible:not(:hover, :active) {
        &::after {
          background-color: $color-sandy;
        }
      }

      &:hover {
        color: $color-light-orange;

        .header__top-tel-icon {
          fill: $color-light-orange;
        }
      }

      &:active {
        color: $color-dark-orange;

        .header__top-tel-icon {
          fill: $color-dark-orange;
        }
      }
    }

    &-nav {
      @include mobile {
        display: none;
      }

      @include tablet-small {
        width: 100%;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 64px;

      @include tablet-big {
        gap: 35px;
      }

      @include tablet-small {
        justify-content: space-between;
        gap: 15px;
      }
    }

    &-link {
      position: relative;
      z-index: 11;

      @include fontSize-lineHeight(14px, 100%);

      font-weight: $fontWeight-Regular;
      color: $color-gray;
      text-wrap: nowrap;

      @include transition((color), 0.3s, ease-in);

      &::after {
        content: "";
        position: absolute;
        inset: -1px -10px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &:focus-visible:not(:hover, :active) {
        color: $color-dark-primary;

        &::after {
          background-color: $color-pink-violet;
        }
      }

      &:hover {
        color: $color-primary;
      }

      &:active {
        color: $color-dark-primary;
      }
    }
  }

  &__middle {
    background-color: $color-white;

    @include mobile {
      order: -2;
      background-color: $color-light-gray;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 32px;
      padding-bottom: 32px;

      @include laptop {
        padding-top: 32px;
        padding-bottom: 33px;
      }

      @include tablet-big {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 36px;
        gap: 33px;
      }

      @include mobile {
        margin-bottom: 11px;
        padding-top: 14px;
        padding-bottom: 14px;
        gap: 0;
      }
    }

    &-logo {
      margin-right: 10px;
      font-size: 0;

      &-img {
        max-width: none;
      }

      @include tablet-big {
        margin-left: -3px;
      }

      @include mobile {
        align-self: center;
        margin: 0;
      }
    }

    &-nav {
      margin-top: 4px;

      @include laptop {
        margin-top: 0;
      }

      @include mobile {
        position: absolute;
        bottom: -95px;
        margin-left: 3px;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 92px;

      @include laptop {
        justify-content: stretch;
        gap: 42px;
      }

      @include tablet-big {
        margin-left: -3px;
        width: 633px;
        gap: 39px;
      }

      @include tablet-small {
        flex-wrap: wrap;
      }

      @include mobile {
        position: absolute;
        bottom: 0;
        justify-content: flex-start;
        gap: 31px;
      }
    }

    &-link {
      position: relative;
      z-index: 11;
      font-weight: $fontWeight-Regular;
      white-space: nowrap;
      color: $color-black;

      @include fontSize-lineHeight(16px, 100%);
      @include transition((color), 0.3s, ease-in);

      @include tablet-big {
        @include fontSize-lineHeight(14px, 100%);
      }

      &::after {
        content: "";
        position: absolute;
        inset: -1px -10px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &:focus-visible:not(:hover, :active) {
        color: $color-black;

        &::after {
          background-color: $color-pink-violet;
        }
      }

      &:hover {
        color: $color-primary;
      }

      &:active {
        color: $color-dark-primary;
      }
    }
  }

  &__bottom {
    background-color: $color-white;

    @include mobile {
      padding-top: 52px;
    }

    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &-form {
      position: relative;
      height: 100%;

      @include tablet-small {
        width: 100%;
      }
    }

    &-input {
      border: 2px solid transparent;
      border-radius: 10px;
      padding: 19px 56px;
      width: 1061px;
      background-color: $color-light-gray;

      @include transition((border-color background-color), 0.3s, ease-in);

      @include laptop {
        width: 733px;
      }

      @include tablet-big {
        width: 630px;
      }

      @include tablet-small {
        width: 100%;
      }

      @include mobile {
        min-width: 291px;
      }

      &::placeholder {
        @include fontSize-lineHeight(16px, 120%);

        font-weight: $fontWeight-Regular;
        color: $color-gray;
      }

      &:focus-visible:not(:hover, :active) {
        border-color: $color-primary;
        background-color: $color-light-pink;
      }

      &:hover {
        background-color: $color-middle-gray;

        .header__bottom-span-icon {
          fill: $color-primary;
        }
      }
    }

    &-span {
      position: absolute;
      left: 31px;
      top: 20px;
      z-index: 11;

      &-icon {
        width: 20px;
        height: 20px;
        fill: $color-gray;

        @include transition((fill), 0.3s, ease-in);
      }
    }

    &-btn {
      position: absolute;
      right: 32px;
      top: 14px;

      &-circle-icon {
        width: 32px;
        height: 32px;
        fill: transparent;
        stroke: $color-primary;
        stroke-width: 2;

        @include transition((fill stroke), 0.4s, ease);
      }

      &-arrow-icon {
        position: absolute;
        right: 10px;
        top: 9px;
        width: 10px;
        height: 15px;
        fill: transparent;
        stroke: $color-primary;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;

        @include transition((fill stroke), 0.4s, ease);
      }

      &:focus-visible:not(:hover, :active) {
        .header__bottom-btn-circle-icon {
          fill: $color-light-primary;
          stroke: $color-primary;
        }

        .header__bottom-btn-arrow-icon {
          stroke: $color-white;
        }
      }

      &:hover {
        .header__bottom-btn-circle-icon {
          fill: $color-primary;
          stroke: $color-primary;
        }

        .header__bottom-btn-arrow-icon {
          stroke: $color-white;
        }
      }

      &:active {
        .header__bottom-btn-circle-icon {
          fill: $color-dark-primary;
          stroke: $color-dark-primary;
        }

        .header__bottom-btn-arrow-icon {
          stroke: $color-white;
        }
      }

      &:disabled {
        .header__bottom-btn-circle-icon {
          fill: $color-white;
          stroke: $color-gray;
        }

        .header__bottom-btn-arrow-icon {
          stroke: $color-gray;
        }
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      gap: 43px;

      @include laptop {
        position: absolute;
        right: 36px;
        top: -132px;
      }

      @include tablet-big {
        right: 73px;
        top: -116px;
      }

      @include mobile {
        right: 15px;
        top: -92px;
      }
    }

    &-personal {
      position: relative;
      z-index: 11;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        inset: -4px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &-icon {
        width: 26px;
        height: 28px;
        fill: $color-primary;

        @include transition((fill), 0.3s, ease-in);
      }

      &:focus-visible:not(:hover, :active) {
        &::after {
          background-color: $color-light-primary;
        }

        .header__bottom-personal-icon {
          fill: $color-white;
        }
      }

      &:hover {
        .header__bottom-personal-icon {
          fill: $color-light-primary;
        }
      }

      &:active {
        .header__bottom-personal-icon {
          fill: $color-dark-primary;
        }
      }
    }

    &-basket {
      position: relative;
      z-index: 11;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        inset: -5px -5px -5px -15px;
        z-index: -11;

        @include transition((background-color), 0.3s, ease-in);
      }

      &-text {
        position: absolute;
        left: -6px;
        top: 7px;
        z-index: 11;
        font-weight: $fontWeight-Bold;
        text-align: center;
        color: $color-white;

        @include fontSize-lineHeight(10px, 100%);

        @include laptop {
          left: -7px;
          top: 6px;
        }
      }

      &-ellipse-icon {
        position: absolute;
        left: -11px;
        top: 5px;
        width: 14px;
        height: 15px;
        fill: $color-orange;

        @include laptop {
          top: 4px;
        }
      }

      &-icon {
        width: 30px;
        height: 28px;
        fill: $color-primary;

        @include transition((fill), 0.3s, ease-in);
      }

      &:focus-visible:not(:hover, :active) {
        &::after {
          background-color: $color-light-primary;
        }

        .header__bottom-basket-icon {
          fill: $color-white;
        }
      }

      &:hover {
        .header__bottom-basket-icon {
          fill: $color-light-primary;
        }
      }

      &:active {
        .header__bottom-basket-icon {
          fill: $color-dark-primary;
        }
      }
    }
  }
}
