.hero {
  margin-bottom: 70px;

  @include background(
    url("../img/1920/hero-banner_first.jpg"),
    center,
    no-repeat,
    cover
  );

  @include laptop {
    margin-bottom: 69px;

    @include background(
      url("../img/1024/hero-banner_first_1024.jpg"),
      left,
      no-repeat,
      cover
    );
  }

  @include tablet-big {
    margin-bottom: 69px;

    @include background(
      url("../img/768/hero-banner_first_768.jpg"),
      left,
      no-repeat,
      cover
    );
  }

  @include mobile {
    margin-bottom: 164px;

    @include background(
      url("../img/320/hero-banner_first_320.jpg"),
      left,
      no-repeat,
      cover
    );
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
      padding: 30px 30px 62px;
    }
  }

  &__title {
    margin-bottom: 49px;
    width: 100%;
    max-width: 496px;
    font-weight: $fontWeight-Bold;
    color: $color-gray;

    @include fontSize-lineHeight(48px, normal);

    @include mobile {
      margin-bottom: 0;
      min-width: 204px;

      @include fontSize-lineHeight(20px, normal);
    }
  }

  &__btn {
    border: 2px solid $color-primary;
    border-radius: 10px;
    padding: 21px 49px;
    width: 100%;
    max-width: 189px;
    font-weight: $fontWeight-Bold;
    text-align: center;
    color: $color-white;
    background-color: $color-primary;

    @include fontSize-lineHeight(16px, 100%);
    @include transition((border-color background-color color), 0.4s, ease);

    @include mobile {
      position: relative;
      left: -15px;
      bottom: -157px;
      min-width: 294px;
    }

    &:focus-visible:not(:hover, :active) {
      border-color: $color-dark-primary;
      background-color: $color-light-primary;
    }

    &:hover {
      border-color: $color-light-primary;
      background-color: $color-light-primary;
    }

    &:active {
      border-color: $color-dark-primary;
      background-color: $color-dark-primary;
    }

    &:disabled {
      border-color: $color-middle-gray;
      color: $color-gray;
      background-color: $color-middle-gray;
    }
  }
}
