.product {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 327px);
    padding-top: 15px;
    padding-bottom: 1px;
    gap: 32px;

    @include laptop {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, 275px);
      padding-top: 26px;
      padding-bottom: 42px;
    }

    @include tablet-big {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto 275px 324px;
      padding-top: 3px;
      padding-bottom: 0;
      gap: 32px;
    }

    @include mobile {
      grid-template-rows: auto 211px 438px;
    }
  }

  &__picture {
    grid-column: 6 span;

    @include laptop {
      grid-column: 5 span;
    }

    @include tablet-big {
      display: block;
      grid-column: 1 / -1;
      margin-bottom: 70px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-column: 6 span;

    @include laptop {
      grid-column: 5 span;
    }

    @include tablet-big {
      grid-column: 1 / -1;
    }

    &-title {
      margin-bottom: 8px;
      font-weight: $fontWeight-SemiBold;

      @include fontSize-lineHeight(16px, 100%);
    }

    &-description {
      margin: 0;

      @include fontSize-lineHeight(14px, 180%);

      color: $color-black;

      &--bottom {
        margin-top: 7px;
      }
    }

    &-schema {
      display: flex;
      margin-top: 105px;
      gap: 32px;

      @include laptop {
        margin-top: 84px;
      }

      @include tablet-big {
        margin-top: 59px;
      }

      @include mobile {
        margin-top: 34px;
        gap: 20px;
      }
    }
  }

  &__main {
    position: relative;
    grid-column: 6 span;

    @include laptop {
      grid-column: 4 span;
    }

    @include tablet-big {
      grid-column: 1 / -1;
    }

    &-status-rating {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-flex;
      align-items: center;
      font-weight: $fontWeight-Regular;
      color: $color-orange;
      gap: 10px;

      @include fontSize-lineHeight(16px, 130%);

      @include laptop {
        top: -24px;
      }

      @include mobile {
        top: -18px;
      }

      &-icon {
        width: 15px;
        height: 15px;
        fill: $color-orange;
      }
    }

    &-title {
      margin-top: 23px;
      margin-bottom: 5px;

      @include fontSize-lineHeight(24px, 130%);

      @include laptop {
        margin-top: 0;
      }

      @include mobile {
        margin-top: 5px;

        @include fontSize-lineHeight(16px, 130%);
      }
    }

    &-description {
      margin: 0;
      margin-bottom: 21px;

      @include fontSize-lineHeight(14px, 100%);

      color: $color-gray;

      @include mobile {
        margin-bottom: 20px;
      }
    }

    &-price {
      margin-bottom: 21px;

      @include fontSize-lineHeight(36px, 130%);

      color: $color-black;

      @include mobile {
        margin-bottom: 15px;

        @include fontSize-lineHeight(24px, 130%);
      }
    }

    &-btn-buy {
      display: block;
      margin-bottom: 14px;
      border: 2px solid $color-primary;
      border-radius: 10px;
      padding: 16px 33px;
      width: 100%;
      max-width: 230px;
      font-weight: $fontWeight-SemiBold;
      text-align: center;
      color: $color-white;
      background-color: $color-primary;

      @include fontSize-lineHeight(16px, 100%);
      @include transition((border-color background-color color), 0.4s, ease);

      @include mobile {
        margin-bottom: 7px;
        min-width: 294px;

        @include fontSize-lineHeight(16px, 100%);
      }

      &:focus-visible:not(:hover, :active) {
        border-color: $color-dark-primary;
        background-color: $color-light-primary;
      }

      &:hover {
        border-color: $color-light-primary;
        background-color: $color-light-primary;
      }

      &:active {
        border-color: $color-dark-primary;
        background-color: $color-dark-primary;
      }

      &:disabled {
        border-color: $color-middle-gray;
        color: $color-gray;
        background-color: $color-middle-gray;
      }
    }

    &-btn-add {
      position: relative;
      z-index: 11;
      display: block;
      padding: 0 30px;
      width: 100%;
      max-width: 230px;
      color: $color-primary;

      @include fontSize-lineHeight(16px, 130%);
      @include transition((color), 0.3s, ease-in);

      @include mobile {
        top: 6px;
        min-width: 294px;

        @include fontSize-lineHeight(16px, 130%);
      }

      &::after {
        content: "";
        position: absolute;
        inset: -4px;
        z-index: -11;

        @include transition((background-color color), 0.3s, ease-in);
      }

      &:focus-visible:not(:hover, :active) {
        color: $color-white;

        &::after {
          background-color: $color-dark-primary;
        }
      }

      &:hover {
        color: $color-light-primary;
      }

      &:active {
        color: $color-dark-primary;
      }
    }
  }

  &__characteristic {
    grid-column: 6 span;

    @include laptop {
      grid-column: 4 span;
    }

    @include tablet-big {
      grid-column: 1 / -1;
    }

    @include mobile {
      margin-top: -35px;
    }

    &-list {
      margin-bottom: -3px;

      @include laptop {
        margin-bottom: 0;
      }
    }

    &-item {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      @include laptop {
        grid-template-columns: repeat(4, 1fr);
      }

      @include tablet-big {
        grid-template-columns: repeat(6, 1fr);
      }

      @include mobile {
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }

    &-name {
      position: relative;
      z-index: 0;
      grid-column: 3 span;
      width: 100%;
      color: $color-gray;

      @include fontSize-lineHeight(14px, 180%);

      @include laptop {
        grid-column: 2 span;
      }

      @include tablet-big {
        grid-column: 4 span;
      }

      @include mobile {
        grid-column: -1 / 1;

        @include fontSize-lineHeight(10px, normal);

        color: $color-gray;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 7px;
        z-index: -1;
        width: 100%;
        height: 2px;

        @include background(
          url("../img/1920/point.svg"),
          center,
          repeat-x,
          auto
        );

        @include mobile {
          display: none;
        }
      }
    }

    &-description {
      position: relative;
      z-index: 11;
      grid-column: 3 span;
      margin-left: 16px;

      @include fontSize-lineHeight(14px, 180%);

      color: $color-black;
      background-color: $color-white;

      @include laptop {
        grid-column: 2 span;
        margin-left: -13px;
      }

      @include tablet-big {
        margin-left: -9px;
      }

      @include mobile {
        grid-column: -1 / 1;
        margin-left: 0;

        @include fontSize-lineHeight(14px, 150%);
      }
    }
  }
}
