.similar-products {
  &__container {
    padding-top: 129px;
    padding-bottom: 70px;

    // @include laptop {
    //   padding-top: 67px;
    // }
    @include tablet-big {
      padding-top: 32px;
    }

    @include mobile {
      padding-top: 68px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include fontSize-lineHeight(24px, 130%);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    @include laptop {
      grid-template-columns: repeat(9, 1fr);
    }

    @include tablet-big {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      gap: 15px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column: 3 span;
    border-radius: 10px;
    padding: 30px;
    min-height: 420px;
    background-color: $color-light-gray;

    @include transition((background-color), 0.3s, ease-out);

    @include mobile {
      padding: 17px;
      min-height: 278px;
    }

    &:nth-child(4) {
      @include laptop {
        display: none;
      }
    }

    &:nth-child(3) {
      @include tablet-big {
        display: none;
      }
    }
  }

  &__status-rating {
    position: absolute;
    left: 30px;
    top: 30px;
    display: inline-flex;
    align-items: center;
    font-weight: $fontWeight-Regular;
    color: $color-orange;
    gap: 10px;

    @include fontSize-lineHeight(16px, 130%);

    @include mobile {
      left: 17px;
      top: 16px;

      @include fontSize-lineHeight(12px, 130%);
    }

    &-icon {
      width: 15px;
      height: 15px;
      fill: $color-orange;

      @include mobile {
        margin-right: -4px;
        width: 13px;
        height: 12px;
      }
    }
  }

  &__picture {
    align-self: center;
    margin: 0 -15px 13px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;

    @include tablet-small {
      align-items: center;
      width: 100%;
    }

    @include mobile {
      align-items: flex-start;
      gap: 16px;
    }
  }

  &__subtitle {
    @include fontSize-lineHeight(24px, 130%);

    font-weight: $fontWeight-Regular;
    color: $color-black;

    @include tablet-small {
      width: 100%;

      @include fontSize-lineHeight(18px, 130%);
    }

    @include mobile {
      width: 108px;

      @include fontSize-lineHeight(16px, 130%);
    }
  }

  &__price {
    @include fontSize-lineHeight(16px, 130%);

    font-weight: $fontWeight-Regular;
    color: $color-dark-gray;
  }

  &__btn {
    border: 2px solid $color-primary;
    border-radius: 10px;
    padding: 17px 33px;
    width: 100%;
    max-width: 130px;
    font-weight: $fontWeight-SemiBold;
    text-align: center;
    color: $color-primary;

    @include fontSize-lineHeight(16px, 100%);
    @include transition((border-color background-color color), 0.3s, ease-out);

    @include tablet-small {
      @include fontSize-lineHeight(14px, 100%);

      padding: 17px 24px;
    }

    @include mobile {
      padding: 9px 23px;
      width: 100%;
    }

    &:focus-visible:not(:hover, :active) {
      border-color: $color-dark-primary;
      color: $color-white;
      background-color: $color-light-primary;
    }

    &:hover {
      border-color: $color-primary;
      color: $color-white;
      background-color: $color-primary;
    }

    &:active {
      border-color: $color-dark-primary;
      color: $color-white;
      background-color: $color-dark-primary;
    }
  }
}
