<aside class="aside">
  <div class="aside__filter">
    <h2 class="aside__filter-title title">Каталог</h2>
    <h3 class="aside__filter-header title">Фильтровать по:</h3>

    <form
      action="#"
      method="POST"
      aria-label="Форма фильтрации каталога"
      class="aside__filter-form"
      enctype="multipart/form-data"
    >
      <div class="aside__filter-color">
        <h4 class="aside__filter-subtitle title">Цвет</h4>
        <ul class="aside__filter-list list-reset">
          <li class="aside__filter-item">
            <label for="brown" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="brown"
                class="aside__filter-input-checkbox input-reset visually-hidden"
              >
              <span class="aside__filter-custom-checkbox">
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать цвет - коричневый"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Коричневый</span>
            </label>
          </li>
          <li class="aside__filter-item">
            <label for="black" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="black"
                class="aside__filter-input-checkbox input-reset visually-hidden"
                checked="checked"
              >
              <span class="aside__filter-custom-checkbox">
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать цвет - чёрный"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Чёрный</span>
            </label>
          </li>
          <li class="aside__filter-item">
            <label for="blue" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="blue"
                class="aside__filter-input-checkbox input-reset visually-hidden"
              >
              <span class="aside__filter-custom-checkbox">
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать цвет - синий"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Синий</span>
            </label>
          </li>
          <li class="aside__filter-item">
            <label for="white" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="white"
                class="aside__filter-input-checkbox input-reset visually-hidden"
              >
              <span class="aside__filter-custom-checkbox">
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать цвет - белый"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Белый</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="aside__filter-categories">
        <h4 class="aside__filter-subtitle title">Категория</h4>
        <ul class="aside__filter-list list-reset">
          <li class="aside__filter-item">
            <label for="sofas" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="sofas"
                class="aside__filter-input-checkbox input-reset visually-hidden"
                checked="checked"
              >
              <span class="aside__filter-custom-checkbox">
                <span class="visually-hidden">Галочка</span>
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать категорию - диваны"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Диваны</span>
            </label>
          </li>
          <li class="aside__filter-item">
            <label for="armchairs" class="aside__filter-label-checkbox">
              <input
                type="checkbox"
                name="checkbox"
                id="armchairs"
                class="aside__filter-input-checkbox input-reset visually-hidden"
              >
              <span class="aside__filter-custom-checkbox">
                <svg
                  class="aside__filter-custom-checkbox-mark"
                  aria-label="Выбрать категорию - кресла"
                  role="button"
                  aria-hidden="true"
                >
                  <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
                </svg>
              </span>
              <span class="aside__filter-custom-checkbox-text">Кресла</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="aside__filter-price">
        <h4 class="aside__filter-subtitle aside__filter-subtitle--price title">
          Цена
        </h4>
        <div class="aside__filter-wrapper">
          <label class="aside__filter-label-input" for="input-price-before">
            <span class="aside__filter-label-span">от</span>
            <input
              class="aside__filter-input-text input-reset"
              type="text"
              id="input-price-before"
              name="price"
              value="2000"
            >
          </label>
          <label
            class="aside__filter-label-input input-reset"
            for="input-price-after"
          >
            <span class="aside__filter-label-span">до</span>
            <input
              class="aside__filter-input-text input-reset"
              type="text"
              id="input-price-after"
              name="price"
              value="150 000"
            >
          </label>
        </div>
      </div>
    </form>
  </div>

  <div class="aside__banner">
    <div class="aside__banner-text">
      <h4 class="aside__banner-subtitle title">Оксфорд 1950</h4>
      <p class="aside__banner-description">Новая коллекция изысканных кресел</p>
      <a href="#" class="aside__banner-link" aria-label="Открыть каталог">
        <span class="aside__banner-link-span">В каталог</span>
        <span class="visually-hidden">Открыть каталог</span>
        <svg
          class="aside__banner-link-circle-icon"
          aria-label="Перейти в каталог"
          role="button"
          aria-hidden="true"
        >
          <use xlink:href="img/sprite.svg#icon_circle"></use>
        </svg>
        <span class="visually-hidden">Открыть каталог</span>
        <svg
          class="aside__banner-link-arrow-icon"
          aria-label="Перейти в каталог"
          role="button"
          aria-hidden="true"
        >
          <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</aside>
