<div class="catalog-left">
  <div class="catalog-left__container container">

    <h3 class="catalog-left__title-filter title">
      Фильтровать по:
    </h3>

    <nav class="catalog-left__filter">

      <div class="catalog-left__filter-categories">
        <h4 class="catalog-left__subtitle title">
          Категория
        </h4>
        <label for="sofas" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="sofas" class="catalog-left__input-checkbox" checked>
          <span class="catalog-left__custom-checkbox"></span>
          Диваны
        </label>
        <label for="armchairs" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="armchairs" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Кресла
        </label>
        <label for="poufs" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="poufs" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Пуфы
        </label>
        <label for="beds" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="beds" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Кровати
        </label>
        <label for="curbstones" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="curbstones" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Тумбы
        </label>
        <label for="dressers" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="dressers" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Комоды
        </label>
        <label for="chairs" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="chairs" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Стулья
        </label>
        <label for="tables" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="tables" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Столы
        </label>
        <label for="accessories" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="accessories" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Аксесуары
        </label>
      </div>

      <div class="catalog-left__filter-price">
        <h4 class="catalog-left__subtitle title">
          Цена
        </h4>
        <div class="catalog-left__price-controls"></div>
        <div class="catalog-left__price-range"></div>
      </div>

      <div class="catalog-left__filter-discount">
        <h4 class="catalog-left__subtitle title">
          Скидка
        </h4>
        <label for="sofas" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="sofas" class="catalog-left__input-checkbox" checked>
          <span class="catalog-left__custom-checkbox"></span>
          Более 5 000
        </label>
        <label for="armchairs" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="armchairs" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Менее 5 000
        </label>
        <label for="poufs" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="poufs" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Неважно
        </label>
      </div>

      <div class="catalog-left__filter-color">
        <h4 class="catalog-left__subtitle title">
          Цвет
        </h4>
        <label for="brown" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="brown" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Коричневый
        </label>
        <label for="black" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="black" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Чёрный
        </label>
        <label for="beige" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="beige" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Бежевый
        </label>
        <label for="gray" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="gray" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Серый
        </label>
        <label for="white" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="white" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Белый
        </label>
        <label for="blue" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="blue" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Синий
        </label>
        <label for="orange" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="orange" class="catalog-left__input-checkbox" checked>
          <span class="catalog-left__custom-checkbox"></span>
          Оранжевый
        </label>
        <label for="yellow" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="yellow" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Жёлтый
        </label>
        <label for="green" class="catalog-left__label-checkbox">
          <input type="checkbox" name="checkbox" id="green" class="catalog-left__input-checkbox">
          <span class="catalog-left__custom-checkbox"></span>
          Зелёный
        </label>
      </div>

    </nav>

    <div class="catalog-left__block-card">
      <div class="catalog-left__block-card-text">
        <h4 class="catalog-left__block-card-subtitle">
          Оксфорд 1950
        </h4>
        <p class="catalog-left__block-card-description">
          Новая коллекция изысканных кресел
        </p>
        <a href="#" class="catalog-left__block-card-link">
          В каталог
        </a>
      </div>
    </div>

  </div>

</div>