<div class="catalog">
  <div class="catalog__list">
    <h2 class="catalog__list-title title">Каталог</h2>

    <ul class="catalog__list-wrapper list-reset">
      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          5,0
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-leather-r94_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-leather-r94.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-leather-r94.png"
            alt="Диван кожаный R-94"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван кожаный<br>
            "R-94"
          </h3>
          <div class="catalog__list-price">94 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван кожаный R-94"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,9
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-apartheid-t75_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-apartheid-t75.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-apartheid-t75.png"
            alt="Диван апартековый Т-75"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван апартековый<br>
            "Т-75"
          </h3>
          <div class="catalog__list-price">69 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван апартековый Т-75"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <a class="catalog__list-item-link" href="product_sofa-fabric-d31.html">
          <div class="catalog__list-status-rating">
            <span class="visually-hidden">Статус рейтинга</span>
            <svg class="catalog__list-status-rating-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon_small-star"></use>
            </svg>
            4,8
          </div>
          <picture class="catalog__list-picture">
            <source
              media="(max-width: 576px)"
              srcset="img/320/sofa-fabric-d31_320.png"
            >
            <source
              media="(min-width: 577px)"
              srcset="img/1920/sofa-fabric-d31.png"
            >
            <img
              class="catalog__list-img"
              src="img/1920/sofa-fabric-d31.png"
              alt="Диван тканевый D-31"
            >
          </picture>
        </a>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван тканевый<br>
            "D-31"
          </h3>
          <div class="catalog__list-price">28 490 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван тканевый D-31"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-velour-y68_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-velour-y68.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-velour-y68.png"
            alt="Диван велюровый Y-68"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван велюровый<br>
            "Y-68"
          </h3>
          <div class="catalog__list-price">22 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван велюровый Y-68"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-from-shinil-w95_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-from-shinil-w95.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-from-shinil-w95.png"
            alt="Диван из шинила W-95"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван из шинила<br>
            "W-95"
          </h3>
          <div class="catalog__list-price">22 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван из шинила W-95"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-flock-g41_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-flock-g41.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-flock-g41.png"
            alt="Диван флоковый G-41"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван флоковый<br>
            "G-41"
          </h3>
          <div class="catalog__list-price">17 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван флоковый G-41"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-shinyl-v43_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-shinyl-v43.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-shinyl-v43.png"
            alt="Диван шиниловый V-43"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван шиниловый<br>
            "V-43"
          </h3>
          <div class="catalog__list-price">19 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван шиниловый V-43"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,7
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-velour-s99_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-velour-s99.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-velour-s99.png"
            alt="Диван велюровый S-99"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван велюровый<br>
            "S-99"
          </h3>
          <div class="catalog__list-price">19 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван велюровый S-99"
          >
            Купить
          </button>
        </div>
      </li>

      <li class="catalog__list-item">
        <div class="catalog__list-status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="catalog__list-status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,7
        </div>
        <picture class="catalog__list-picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-from-leather-f85_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-from-leather-f85.png"
          >
          <img
            class="catalog__list-img"
            src="img/1920/sofa-from-leather-f85.png"
            alt="Диван из кожазма F-85"
          >
        </picture>
        <div class="catalog__list-text">
          <h3 class="catalog__list-subtitle title">
            Диван из кожазма<br>
            "F-85"
          </h3>
          <div class="catalog__list-price">19 990 руб</div>
          <button
            type="button"
            class="catalog__list-btn btn-reset"
            aria-label="Купить диван из кожазма F-85"
          >
            Купить
          </button>
        </div>
      </li>
    </ul>
  </div>
  <nav class="catalog__pagination">
    <button
      type="button"
      class="catalog__pagination-btn catalog__pagination-btn--active btn-reset"
      aria-label="К предыдущим товарам"
    >
      1
      <span class="visually-hidden">Нажать назад</span>
    </button>
    <button
      type="button"
      class="catalog__pagination-btn btn-reset"
      aria-label="К следующиим товарам"
    >
      2
      <span class="visually-hidden">Нажать вперед</span>
    </button>
    <button
    type="button"
    class="catalog__pagination-btn btn-reset"
    aria-label="К следующиим товарам"
  >
    3
    <span class="visually-hidden">Нажать вперед</span>
  </button>
  </nav>
</div>
