<div class="catalog-right">
  <div class="catalog-right__container container">

    <h2 class="catalog-right__title title">
      Каталог
    </h2>

    <div class="catalog-right__container-slide">

      <ul class="catalog-right__list grid">

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">5,0</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-leather-r94.png" alt='Диван кожаный R-94'>
          </picture>
          <h3 class="catalog-right__item-card-title title">Диван кожаный "R-94"</h3>
          <div class="catalog-right__price">
            94 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,9</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-apartheid-t75.png" alt='Диван апартековый Т-75'>
          </picture>
          <h3 class="catalog-right__item-card-title title">Диван апартековый "Т-75"</h3>
          <div class="catalog-right__price">
            69 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,8</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-fabric-d31.png" alt='Диван тканевый D-31'>
          </picture>
          <h3 class="catalog-right__item-card-title">Диван тканевый "D-31"</h3>
          <div class="catalog-right__price">
            28 490 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,8</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-velour-y68.png" alt='Диван велюровый Y-68'>
          </picture>
          <h3 class="catalog-right__item-card-title">Диван велюровый "Y-68"</h3>
          <div class="catalog-right__price">
            22 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,8</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-from-shinil-w95.png" alt='Диван из шинила W-95'>
          </picture>
          <h3 class="catalog-right__item-card-title">Диван из шинила "W-95"</h3>
          <div class="catalog-right__price">
            22 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,8</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-flock-g41.png" alt='Диван флоковый G-41'>
          </picture>
          <h3 class="catalog-right__item-card-title">Диван флоковый "G-41"</h3>
          <div class="catalog-right__price">
            17 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,8</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-shinyl-v43.png" alt='Диван шиниловый V-43'>
          </picture>
          <h3 class="catalog-right__item-card-title">Диван шиниловый "V-43"</h3>
          <div class="catalog-right__price">
            19 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,7</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-velour-s99.png" alt='Диван велюровый S-99'>
          </picture>
          <h3 class="catalog-right__title-card">Диван велюровый "S-99"</h3>
          <div class="catalog-right__price">
            19 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,7</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-from-leather-f85.png" alt='Диван из кожазма F-85'>
          </picture>
          <h3 class="catalog-right__title-card">Диван из кожазма "F-85"</h3>
          <div class="catalog-right__price">
            19 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,6</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-flock-h64.png" alt='Диван флоковый H-64'>
          </picture>
          <h3 class="catalog-right__title-card">Диван флоковый "H-64"</h3>
          <div class="catalog-right__price">
            25 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,6</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-flock-h58.png" alt='Диван флоковый H-58'>
          </picture>
          <h3 class="catalog-right__title-card">Диван флоковый "H-58"</h3>
          <div class="catalog-right__price">
            23 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,6</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-from-leather-r43.png" alt='Диван из кожазма R-43'>
          </picture>
          <h3 class="catalog-right__title-card">Диван из кожазма "R-43"</h3>
          <div class="catalog-right__price">
            33 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,6</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-from-shinil-c42.png" alt='Диван из шинила С-42'>
          </picture>
          <h3 class="catalog-right__title-card">Диван из шинила "С-42"</h3>
          <div class="catalog-right__price">
            18 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,6</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-velour-u58.png" alt='Диван велюровый U-58'>
          </picture>
          <h3 class="catalog-right__title-card">Диван велюровый "U-58"</h3>
          <div class="catalog-right__price">
            18 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,5</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-flock-f41.png" alt='Диван флоковый F-41'>
          </picture>
          <h3 class="catalog-right__title-card">Диван флоковый "F-41"</h3>
          <div class="catalog-right__price">
            17 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,5</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-velour-r85.png" alt='Диван велюровый R-85'>
          </picture>
          <h3 class="catalog-right__title-card">Диван велюровый "R-85"</h3>
          <div class="catalog-right__price">
            34 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>


        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,5</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-velour-s44.png" alt='Диван велюровый S-44'>
          </picture>
          <h3 class="catalog-right__title-card">Диван велюровый "S-44"</h3>
          <div class="catalog-right__price">
            19 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

        <li class="catalog-right__item-card">
          <div class="catalog-right__status-rating">4,5</div>
          <picture class="catalog-right__picture">
            <source media="(min-width: )" srcset="">
            <img class="catalog-right__img" src="/img/1920/sofa-from-shinil-c80.png" alt='Диван из шинила C-80'>
          </picture>
          <h3 class="catalog-right__title-card">Диван из шинила "C-80"</h3>
          <div class="catalog-right__price">
            20 990 руб
          </div>
          <button class="catalog-right__btn">Купить</button>
        </li>

      </ul>
    </div>

    <!-- div nav-btn for catalog-right -->
    <div class="project__nav-btn">
      <button class="catalog-right__left-btn btn-reset" aria-label="К предыдущим товарам">
        <span class="visually-hidden">Нажать назад</span>
      </button>
      <button class="catalog-right__right-btn btn-reset" aria-label="К следующиим товарам">
        <span class="visually-hidden">Нажать вперед</span>
      </button>
    </div>

  </div>
</div>
