<footer class="footer">
  <div class="footer__top">
    <div class="footer__top-container container">
      <div class="footer__top-left">
        <a href="#" class="footer__top-logo" aria-label="Логотип SitDownPls">
          <img
            class="footer__logo-img"
            src="../img/logo.svg"
            alt="Логотип SitDownPls"
          />
        </a>

        <nav class="footer__top-nav-social">
          <ul class="footer__top-list-social list-reset">
            <li class="footer__top-item-social">
              <a
                href="/"
                class="footer__top-link-social"
                aria-label="Мы в одноклассниках"
              >
                <span class="visually-hidden">Открыть одноклассники</span>
                <svg class="footer__top-link-social-icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#icon_social-ok"></use>
                </svg>
              </a>
            </li>
            <li class="footer__top-item">
              <a
                href="/"
                class="footer__top-link-social"
                aria-label="Мы во вконтакте"
              >
                <span class="visually-hidden">Открыть вконтакте</span>
                <svg class="footer__top-link-social-icon" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#icon_social-vk"></use>
                </svg>
                <span class="visually-hidden">Открыть вконтакте</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__top-right">
        <nav class="footer__top-nav">
          <div class="footer__top-block">
            <h3 class="footer__top-block-title title">
              <a href="/" class="footer__top-block-title-link">О нас</a>
            </h3>
            <ul class="footer__top-block-list list-reset">
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">О компании</a>
              </li>
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">Блог</a>
              </li>
            </ul>
          </div>

          <div class="footer__top-block">
            <h3 class="footer__top-block-title title">
              <a href="/" class="footer__top-block-title-link">Услуги</a>
            </h3>
            <ul class="footer__top-block-list list-reset">
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">Доставка</a>
              </li>
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">
                  Рассрочка и кредит
                </a>
              </li>
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">
                  Сборка и установка
                </a>
              </li>
            </ul>
          </div>

          <div class="footer__top-block">
            <h3 class="footer__top-block-title title">
              <a href="/" class="footer__top-block-title-link">Связь с нами</a>
            </h3>
            <ul class="footer__top-block-list list-reset">
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">
                  Обратная связь
                </a>
              </li>
              <li class="footer__top-block-item">
                <a href="/" class="footer__top-block-item-link">Контакты</a>
              </li>
            </ul>
          </div>

          <div class="footer__top-block">
            <h3 class="footer__top-block-title title">
              <a href="cooperation.html" class="footer__top-block-title-link">
                Сотрудничество
              </a>
            </h3>
            <ul class="footer__top-block-list list-reset">
              <li class="footer__top-block-item">
                <a href="cooperation.html" class="footer__top-block-item-link"
                  >Поставщикам</a
                >
              </li>
              <li class="footer__top-block-item">
                <a href="#" class="footer__top-block-item-link">Оптовикам</a>
              </li>
              <li class="footer__top-block-item">
                <a href="#" class="footer__top-block-item-link">Карьера</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom-container container">
      <span class="footer__bottom-copywriting">SDP&reg; &ensp;2011-2021</span>
    </div>
  </div>
</footer>
