<footer class="footer">

  <div class="footer__top">
    <div class="footer__container container">
      <div class="footer__left">
        
        <a href="#" class="footer__logo" aria-label="Логотип SitDownPls">
          <picture class="footer__picture">
            <source media="(min-width: )" srcset="">
            <img class="footer__logo-img" src="/img/logo.svg" alt="Логотип SitDownPls">
          </picture>
        </a>

        <nav class="footer__nav-social">
          <ul class="footer__list-social">
            <li class="footer__item-social">
              <a href="#" class="footer__link-social" aria-label="Мы во фейсбуке">
                <span class="visually-hidden">Открыть фейсбук</span>
              </a>
            </li>
            <li class="footer__item-social">
              <a href="#" class="footer__link-social" aria-label="Мы во вконтакте">
                <span class="visually-hidden">Открыть вконтакте</span>
              </a>
            </li>
            <li class="footer__item-social">
              <a href="#" class="footer__link-social" aria-label="Мы в инстаграмме">
                <span class="visually-hidden">Открыть инстаграмм</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

      <div class="footer__right">

        <nav class="footer__nav">

          <div class="footer__about">
            <h3 class="footer__about-title">О нас</h3>
            <ul class="footer__about-list">
              <li class="footer__about-item">О компании</li>
              <li class="footer__about-item">Блог</li>
            </ul>
          </div>

          
          <div class="footer__services">
            <h3 class="footer__services-title">Услуги</h3>
            <ul class="footer__services-list">
              <li class="footer__services-item">Доставка</li>
              <li class="footer__services-item">Рассрочка и кредит</li>
              <li class="footer__services-item">Сборка и установка</li>
            </ul>
          </div>

          
          <div class="footer__contact">
            <h3 class="footer__contact-title">Связь с нами</h3>
            <ul class="footer__contact-list">
              <li class="footer__contact-item">Обратная связь</li>
              <li class="footer__contact-item">Контакты</li>
            </ul>
          </div>

          <div class="footer__cooperation">
            <h3 class="footer__cooperation-title">Сотрудничество</h3>
            <ul class="footer__cooperation-list">
              <li class="footer__cooperation-item">Поставщикам</li>
              <li class="footer__cooperation-item">Оптовикам</li>
              <li class="footer__cooperation-item">Карьера</li>
            </ul>
          </div>

        </nav>

      </div>

    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__container container">
      <span class="footer__copywriting">SDP&reg; 2011-2021</span>
    </div>
  </div>

</footer>