<div class="aside-product">
    <div class="aside-product__container container">
        <h2 class="aside-product__title title">
            Похожие товары
        </h2>

        <div class="aside-product__nav-btn">
            <button class="aside-product__left-btn"></button>
            <button class="aside-product__right-btn"></button>
        </div>

        <div class="aside-product__grid grid">

            <ul class="aside-product__list list-reset">
                <li class="aside-product__item">
                    <div class="aside-product__status-rating">4,5</div>
                    <picture class="aside-product__picture">
                        <source media="(min-width: )" srcset="">
                        <img class="aside-product__img" src="/img/1920/sofa-velour-r85.png" alt='Диван велюровый R-85'>
                    </picture>
                    <h3 class="aside-product__item-card-title title">Диван велюровый "R-85"</h3>
                    <div class="aside-product__price">
                        34 990 руб
                    </div>
                    <button class="aside-product__btn">Купить</button>
                </li>
                <li class="aside-product__item">
                    <div class="aside-product__status-rating">4,6</div>
                    <picture class="aside-product__picture">
                        <source media="(min-width: )" srcset="">
                        <img class="aside-product__img" src="/img/1920/sofa-flock-h58.png" alt='Диван флоковый Н-58'>
                    </picture>
                    <h3 class="aside-product__item-card-title title">Диван флоковый "Н-58"</h3>
                    <div class="aside-product__price">
                        23 990 руб
                    </div>
                    <button class="aside-product__btn">Купить</button>
                </li>
                <li class="aside-product__item">
                    <div class="aside-product__status-rating">4,5</div>
                    <picture class="aside-product__picture">
                        <source media="(min-width: )" srcset="">
                        <img class="aside-product__img" src="/img/1920/sofa-velour-s44.png" alt='Диван велюровый S-44'>
                    </picture>
                    <h3 class="aside-product__item-card-title title">Диван велюровый "S-44"</h3>
                    <div class="aside-product__price">
                        19 990 руб
                    </div>
                    <button class="aside-product__btn">Купить</button>
                </li>
                <li class="aside-product__item">
                    <div class="aside-product__status-rating">4,8</div>
                    <picture class="aside-product__picture">
                        <source media="(min-width: )" srcset="">
                        <img class="aside-product__img" src="/img/1920/sofa-shinyl-v43.png" alt='Диван шиниловый V-43'>
                    </picture>
                    <h3 class="aside-product__item-card-title title">Диван шиниловый "V-43"</h3>
                    <div class="aside-product__price">
                        19 990 руб
                    </div>
                    <button class="aside-product__btn">Купить</button>
                </li>
            </ul>
        </div>
        
    </div>
</div>