<aside class="similar-products">
  <div class="similar-products__container container">
    <h2 class="similar-products__title title">Похожие товары</h2>

    <ul class="similar-products__list list-reset">
      <li class="similar-products__item">
        <div class="similar-products__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="similar-products__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,5
        </div>
        <picture class="similar-products__picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-velour-r85_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-velour-r85.png"
          >
          <img
            class="similar-products__img"
            src="img/1920/sofa-velour-r85.png"
            alt="Диван велюровый R-85"
          >
        </picture>
        <div class="similar-products__text">
          <h3 class="similar-products__subtitle title">
            Диван велюровый "R-85"
          </h3>
          <div class="similar-products__price">34 990 руб</div>
          <button
            type="button"
            class="similar-products__btn btn-reset"
            aria-label="Купить диван велюровый R-85"
          >
            Купить
          </button>
        </div>
      </li>
      <li class="similar-products__item">
        <div class="similar-products__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="similar-products__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,6
        </div>
        <picture class="similar-products__picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-flock-h58_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-flock-h58.png"
          >
          <img
            class="similar-products__img"
            src="img/1920/sofa-flock-h58.png"
            alt="Диван флоковый Н-58"
          >
        </picture>
        <div class="similar-products__text">
          <h3 class="similar-products__subtitle title">
            Диван флоковый "Н-58"
          </h3>
          <div class="similar-products__price">23 990 руб</div>
          <button
            type="button"
            class="similar-products__btn btn-reset"
            aria-label="Купить Диван флоковый Н-58"
          >
            Купить
          </button>
        </div>
      </li>
      <li class="similar-products__item">
        <div class="similar-products__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="similar-products__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,5
        </div>
        <picture class="similar-products__picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-velour-s44_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-velour-s44.png"
          >
          <img
            class="similar-products__img"
            src="img/1920/sofa-velour-s44.png"
            alt="Диван велюровый S-44"
          >
        </picture>
        <div class="similar-products__text">
          <h3 class="similar-products__subtitle title">
            Диван велюровый "S-44"
          </h3>
          <div class="similar-products__price">19 990 руб</div>
          <button
            type="button"
            class="similar-products__btn btn-reset"
            aria-label="Купить диван велюровый S-44"
          >
            Купить
          </button>
        </div>
      </li>
      <li class="similar-products__item">
        <div class="similar-products__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="similar-products__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="similar-products__picture">
          <source
            media="(max-width: 576px)"
            srcset="img/320/sofa-shinyl-v43_320.png"
          >
          <source
            media="(min-width: 577px)"
            srcset="img/1920/sofa-shinyl-v43.png"
          >
          <img
            class="similar-products__img"
            src="img/1920/sofa-shinyl-v43.png"
            alt="Диван шиниловый V-43"
          >
        </picture>
        <div class="similar-products__text">
          <h3 class="similar-products__subtitle title">
            Диван шиниловый "V-43"
          </h3>
          <div class="similar-products__price">19 990 руб</div>
          <button
            type="button"
            class="similar-products__btn btn-reset"
            aria-label="Купить диван шиниловый V-43"
          >
            Купить
          </button>
        </div>
      </li>
    </ul>
  </div>
</aside>
