<div class="product">
  <div class="product__container container">
    <div class="product__picture">
      <picture class="product__picture-wrapper">
        <source
          media="(max-width: 576px)"
          srcset="img/320/sofa-fabric-straight-d31_product-card_320.png"
        >
        <source
          media="(max-width: 960px)"
          srcset="img/768/sofa-fabric-straight-d31_product-card_768.png"
        >
        <source
          media="(max-width: 1300px)"
          srcset="img/1024/sofa-fabric-straight-d31_product-card_1024.png"
        >
        <source
          media="(min-width: 1301px)"
          srcset="img/1920/sofa-fabric-straight-d31_product-card.png"
        >
        <img
          class="product__picture-img"
          src="img/1920/sofa-fabric-straight-d31_product-card.png"
          alt="Диван тканевый D-31"
        >
      </picture>
    </div>

    <div class="product__main">
      <div class="product__main-status-rating">
        <span class="visually-hidden">Статус рейтинга</span>
        <svg class="product__main-status-rating-icon" aria-hidden="true">
          <use xlink:href="img/sprite.svg#icon_small-star"></use>
        </svg>
        4,8
      </div>
      <h2 class="product__main-title title">Диван тканевый прямой "D-31"</h2>
      <p class="product__main-description">
        Мини 120 см без ящика Stark синий (Рогожка)
      </p>
      <div class="product__main-price">28 490 руб</div>
      <button
        type="button"
        class="product__main-btn-buy btn-reset"
        aria-label="Купить в один клик"
      >
        Купить в один клик
      </button>
      <button
        type="button"
        class="product__main-btn-add btn-reset"
        aria-label="Добавить в корзину"
      >
        + Добавить в корзину
      </button>
    </div>

    <div class="product__info">
      <h3 class="product__info-title title">Опорный механизм</h3>
      <p class="product__info-description">
        Опорный механизм напоминает пантограф, к которому добавили
        дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд
        и вытаскивает вторую часть спального места. Заключительный штрих —
        опустить спинку.
      </p>
      <p class="product__info-description product__info-description--bottom">
        Этот механизм не портит пол и не боится ковров. Требуется чуть больше
        силы, чтобы разложить диван, но подросток справится.
      </p>
      <div class="product__info-schema">
        <picture class="product__info-schema-picture">
          <source
            media="(max-width: 576px)"
            srcset="
              img/320/sofa-fabric-straight-d31_product-card-schema_1_320.png
            "
          >
          <source
            media="(max-width: 1300px)"
            srcset="
              img/1024/sofa-fabric-straight-d31_product-card-schema_1_1024.png
            "
          >
          <source
            media="(min-width: 1301px)"
            srcset="img/1920/sofa-fabric-straight-d31_product-card-schema_1.png"
          >
          <img
            class="product__info-schema-img"
            src="img/1920/sofa-fabric-straight-d31_product-card-schema_1.png"
            alt="Схема №1 - Диван тканевый D-31"
          >
        </picture>
        <picture class="product__info-schema-picture">
          <source
            media="(max-width: 576px)"
            srcset="
              img/320/sofa-fabric-straight-d31_product-card-schema_2_320.png
            "
          >
          <source
            media="(max-width: 1300px)"
            srcset="
              img/1024/sofa-fabric-straight-d31_product-card-schema_2_1024.png
            "
          >
          <source
            media="(min-width: 1301px)"
            srcset="img/1920/sofa-fabric-straight-d31_product-card-schema_2.png"
          >
          <img
            class="product__info-schema-img"
            src="img/1920/sofa-fabric-straight-d31_product-card-schema_2.png"
            alt="Схема №2 - Диван тканевый D-31"
          >
        </picture>
      </div>
    </div>

    <div class="product__characteristic">
      <ul class="product__characteristic-list list-reset">
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Гарантия </span>
          <span class="product__characteristic-description">18 месяцев</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Артикул</span>
          <span class="product__characteristic-description">AAA41269004</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Длина</span>
          <span class="product__characteristic-description">163 см</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Высота</span>
          <span class="product__characteristic-description">90 см</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Глубина</span>
          <span class="product__characteristic-description">108 см</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Спальное место</span>
          <span class="product__characteristic-description"
            >200 см х 125 см</span
          >
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Высота посадки</span>
          <span class="product__characteristic-description">45 см</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Механизм</span>
          <span class="product__characteristic-description">Опорный</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Тип обивки</span>
          <span class="product__characteristic-description">Рогожка</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Цвет</span>
          <span class="product__characteristic-description">Синий</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Наполнитель</span>
          <span class="product__characteristic-description"
            >Независимый пружинный блок</span
          >
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Материал каркаса</span>
          <span class="product__characteristic-description"
            >Металл. рама с дерев. латами</span
          >
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Количество мест</span>
          <span class="product__characteristic-description">Двухместные</span>
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Категория</span>
          <span class="product__characteristic-description"
            >Прямые тканевые диваны</span
          >
        </li>
        <li class="product__characteristic-item">
          <span class="product__characteristic-name">Возврат</span>
          <span class="product__characteristic-description">Условия</span>
        </li>
      </ul>
    </div>
  </div>
</div>
