<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <select name="" id="">
        <option value="">Москва</option>
        <option value="">Казань</option>
        <option value="">Уфа</option>
        <option value="">Пермь</option>
      </select>
      <a class="header__number-tel" href="tel:+74958854547">+7(495)885-45-47</a>
      <nav class="header__top-nav">
        <ul class="header__top-list">
          <li class="header__top-item"><a href="#" class="header__top-link">О компании</a></li>
          <li class="header__top-item"><a href="#" class="header__top-link">Гарантия и возврат</a></li>
          <li class="header__top-item"><a href="#" class="header__top-link">Корпоративным клиентам</a></li>
          <li class="header__top-item"><a href="#" class="header__top-link">Дизайн-решение</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__container container">
      <a href="#" class="header__logo" aria-label="Логотип SitDownPls">
        <picture class="header__picture">
          <source media="(min-width: )" srcset="">
          <img class="header__logo-img" src="/img/logo.svg" alt="Логотип SitDownPls">
        </picture>
      </a>
      <nav class="header__bottom-nav">
        <ul class="header__bottom-list">
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Каталог</a></li>
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Магазины</a></li>
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Шоу-рум</a></li>
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Доставка и оплата</a></li>
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Дисконт</a></li>
          <li class="header__bottom-item"><a href="#" class="header__bottom-link">Контакты</a></li>
        </ul>
      </nav>
      <form action="" class="header__form-search">
        <button class="header__btn-search1"></button>
        <input class="header__input-search" type="text" placeholder="Я хочу купить...">
        <button class="header__btn-search2"></button>
      </form>
      <select name="" id="">
        <option value="">Категория</option>
      </select>
      <a href="#" class="header__personal"></a>
      <a href="#" class="header__backet"></a>
    </div>
  </div>
  <div class="header__breadcrumb">
    <ul class="header__breadcrumb-list list-reset">
      <li class="header__breadcrumb-item">
        <a href="#" class="header__breadcrumb-link">
          Главная
        </a>
      </li>
      <li class="header__breadcrumb-item">
        <a href="#" class="header__breadcrumb-link">
          Каталог
        </a>
      </li>
      <li class="header__breadcrumb-item">
        <a href="#" class="header__breadcrumb-link">
          Диваны
        </a>
      </li>
      <li class="header__breadcrumb-item">
        <a href="#" class="header__breadcrumb-link">
          Прямые диваны
        </a>
      </li>
      <li class="header__breadcrumb-item">
        <a href="#" class="header__breadcrumb-link">
          D-31
        </a>
      </li>
    </ul>
  </div>
</header>