<section class="contact-form">
  <div class="contact-form__container container">
    <h2 class="contact-form__title title">Мы всегда вам рады!</h2>

    <p class="contact-form__description">
      Бесусловно, новая модель организационной деятельности в значительной
      степени обусловливает важность распределения внутренних резервов и
      ресурсов
    </p>

    <form
      action="/"
      method="POST"
      class="contact-form__form"
      aria-label="Форма заполнения контакта"
    >
      <div class="contact-form__label">
        <label for="input-name" class="contact-form__label-name">
          <input
            id="input-name"
            type="text"
            class="contact-form__input input-reset"
            placeholder="Как вас зовут?"
            aria-label="Введите имя"
            name="name"
            autocomplete="off"
            onmouseout="this.blur();"
          />
        </label>

        <label for="input-phone" class="contact-form__label-phone">
          <input
            id="input-phone"
            type="tel"
            class="contact-form__input input-reset"
            placeholder="Ваш телефон"
            aria-label="Введите номер телефона"
            name="phone"
            autocomplete="off"
          />
        </label>

        <label for="input-email" class="contact-form__label-email">
          <input
            id="input-email"
            type="email"
            class="contact-form__input input-reset"
            placeholder="Ваш e-mail"
            aria-label="Введите эмейл"
            name="email"
            autocomplete="off"
          />
        </label>
      </div>

      <button
        type="submit"
        class="contact-form__btn btn-reset"
        aria-label="Отправить форму"
      >
        Отправить
      </button>

      <div class="contact-form__checkbox">
        <label for="element" class="contact-form__checkbox-label">
          <input
            class="contact-form__checkbox-input input-reset visually-hidden"
            type="checkbox"
            id="element"
            checked="checked"
          />
          <span class="contact-form__checkbox-custom" type="checkbox">
            <span class="visually-hidden">Галочка</span>
            <svg
              class="contact-form__checkbox-custom-mark"
              aria-label="Нажать пользовательское соглашение"
              aria-hidden="true"
              role="button"
            >
              <use xlink:href="img/sprite.svg#icon_checkbox-mark"></use>
            </svg>
          </span>
          <span class="contact-form__checkbox-text">
            Принимаю
            <a
              href="/"
              class="contact-form__checkbox-text-link"
              aria-label="Пользовательское соглашение"
            >
              пользовательское соглашение
            </a>
          </span>
        </label>
      </div>
    </form>
  </div>
</section>
