<section class="hero swiper">

  <div class="hero__container container swiper-container slider js-hero-swiper">
    <div class="hero__text">
      <h1 class="hero__title">Скидка 15% на первую покупку</h1>
      <button class="hero__btn">Получить!</button>

      <!-- div wrapper -->
      <div class="swiper-wrapper">
        <!-- div swiper-slides for hero -->
        <div class="swiper-slide slide slide-first-bg"></div>
        <div class="swiper-slide slide slide-second-bg"></div>
        <div class="swiper-slide slide slide-third-bg"></div>
        <div class="swiper-slide slide slide-fourth-bg"></div>
      </div>
      <!-- div swiper pagination for hero -->
      <div class="swiper-bullet-pagination"></div>
    </div>
  </div>
</section>