<section class="high-rating">
  <div class="high-rating__container container">
    <h2 class="high-rating__title title">Высокий рейтинг</h2>

    <div class="high-rating__grid">
      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          5,0
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-leather-r94_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-leather-r94.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-leather-r94.png"
            alt="Диван кожаный R-94"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">
            Диван кожаный</br> "R-94"
          </h3>
          <div class="high-rating__price">94 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван кожаный R-94">Купить</button>
        </div>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,9
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-apartheid-t75_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-apartheid-t75.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-apartheid-t75.png"
            alt="Диван апартековый Т-75"
          />
        </picture>
        <div class="high-rating__text">
        <h3 class="high-rating__subtitle title">
          Диван апартековый</br> "Т-75"
        </h3>
        <div class="high-rating__price">69 990 руб</div>
        <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван апартековый Т-75">Купить</button>
      </div>
      </div>

      <div class="high-rating__block">
        <a class="high-rating__block-link" href="product_sofa-fabric-d31.html">
          <div class="high-rating__status-rating">
            <span class="visually-hidden">Статус рейтинга</span>
            <svg class="high-rating__status-rating-icon" aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon_small-star"></use>
            </svg>
            4,8
          </div>
          <picture class="high-rating__picture">
            <source media="(max-width: 576px)" srcset="img/320/sofa-fabric-d31_320.png">
            <source media="(min-width: 577px)" srcset="img/1920/sofa-fabric-d31.png">
            <img
              class="high-rating__img"
              src="img/1920/sofa-fabric-d31.png"
              alt="Диван тканевый D-31"
            />
          </picture>
          <div class="high-rating__text">
            <h3 class="high-rating__subtitle title">
              Диван тканевый "D-31"
            </h3>
            <div class="high-rating__price">28 490 руб</div>
            <button type="button"  class="high-rating__btn btn-reset" aria-label="Купить диван тканевый D-31">Купить</button>
          </div>
        </a>

      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-velour-y68_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-velour-y68.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-velour-y68.png"
            alt="Диван велюровый Y-68"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">
            Диван велюровый "Y-68"
          </h3>
          <div class="high-rating__price">22 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван велюровый Y-68">Купить</button>
        </div>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-from-shinil-w95_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-from-shinil-w95.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-from-shinil-w95.png"
            alt="Диван из шинила W-95"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">
            Диван из шинила "W-95"
          </h3>
          <div class="high-rating__price">22 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван из шинила W-95">Купить</button>
        </div>

      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-flock-g41_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-flock-g41.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-flock-g41.png"
            alt="Диван флоковый G-41"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">Диван флоковый "G-41"</h3>
          <div class="high-rating__price">17 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван флоковый G-41">Купить</button>
        </div>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,8
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-shinyl-v43_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-shinyl-v43.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-shinyl-v43.png"
            alt="Диван шиниловый V-43"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">
            Диван шиниловый "V-43"
          </h3>
          <div class="high-rating__price">19 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван шиниловый V-43">Купить</button>
        </div>

      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">
          <span class="visually-hidden">Статус рейтинга</span>
          <svg class="high-rating__status-rating-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_small-star"></use>
          </svg>
          4,7
        </div>
        <picture class="high-rating__picture">
          <source media="(max-width: 576px)" srcset="img/320/sofa-velour-s99_320.png">
          <source media="(min-width: 577px)" srcset="img/1920/sofa-velour-s99.png">
          <img
            class="high-rating__img"
            src="img/1920/sofa-velour-s99.png"
            alt="Диван велюровый S-99"
          />
        </picture>
        <div class="high-rating__text">
          <h3 class="high-rating__subtitle title">
            Диван велюровый "S-99"
          </h3>
          <div class="high-rating__price">19 990 руб</div>
          <button type="button" class="high-rating__btn btn-reset" aria-label="Купить диван велюровый S-99">Купить</button>
        </div>
      </div>
    </div>

  </div>
</section>
