<section class="high-rating">
  <div class="high-rating__container container">

    <h2 class="high-rating__title title">
      Высокий рейтинг
    </h2>

    <div class="high-rating__grid grid">
      <div class="high-rating__block">
        <div class="high-rating__status-rating">5,0</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-leather-r94.png" alt='Диван кожаный R-94'>
        </picture>
        <h3 class="high-rating__block-title">Диван кожаный "R-94"</h3>
        <div class="high-rating__price">
          94 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,9</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-apartheid-t75.png" alt='Диван апартековый Т-75'>
        </picture>
        <h3 class="high-rating__block-title">Диван апартековый "Т-75"</h3>
        <div class="high-rating__price">
          69 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,8</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-fabric-d31.png" alt='Диван тканевый D-31'>
        </picture>
        <h3 class="high-rating__block-title">Диван тканевый "D-31"</h3>
        <div class="high-rating__price">
          28 490 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,8</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-velour-y68.png" alt='Диван велюровый Y-68'>
        </picture>
        <h3 class="high-rating__block-title">Диван велюровый "Y-68"</h3>
        <div class="high-rating__price">
          22 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,8</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-from-shinil-w95.png" alt='Диван из шинила W-95'>
        </picture>
        <h3 class="high-rating__block-title">Диван из шинила "W-95"</h3>
        <div class="high-rating__price">
          22 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,8</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-flock-g41.png" alt='Диван флоковый G-41'>
        </picture>
        <h3 class="high-rating__block-title">Диван флоковый "G-41"</h3>
        <div class="high-rating__price">
          17 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,8</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-shinyl-v43.png" alt='Диван шиниловый V-43'>
        </picture>
        <h3 class="high-rating__block-title">Диван шиниловый "V-43"</h3>
        <div class="high-rating__price">
          19 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>

      <div class="high-rating__block">
        <div class="high-rating__status-rating">4,7</div>
        <picture class="high-rating__picture">
          <source media="(min-width: )" srcset="">
          <img class="high-rating__img" src="/img/1920/sofa-velour-s99.png" alt='Диван велюровый S-99'>
        </picture>
        <h3 class="high-rating__block-title">Диван велюровый "S-99"</h3>
        <div class="high-rating__price">
          19 990 руб
        </div>
        <button class="high-rating__btn">Купить</button>
      </div>
    </div>

    <button class="high-rating__btn-further">
      Смотреть больше товаров
    </button>

  </div>
</section>