<section class="special-offers">
  <div class="special-offers__container container">

    <div class="special-offers__header">
      <h2 class="special-offers__title title">
        Специальные предложения
      </h2>
      <div class="special-offers__nav-btn">
        <button class="special-offers__left-btn"></button>
        <button class="special-offers__right-btn"></button>
      </div>
    </div>

    <div class="special-offers__grid grid">
      <article class="special-offers__article">
        <div class="special-offers__sale">- 9 000</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers1_armchair-velour-x24.png"
            alt='Спецпредложение: Кресло велюровое Х-24'>
        </picture>
        <h3 class="special-offers__article-title">Кресло велюровое "Х-24"</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">15990 руб</span>
          <span class="special-offers__price-old">24990 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">- 10 000</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers2_sofa-fabric-z44.png"
            alt='Спецпредложение: Диван тканевый Z-44'>
        </picture>
        <h3 class="special-offers__article-title">Диван тканевый "Z-44"</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">22990 руб</span>
          <span class="special-offers__price-old">32990 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">- 600</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers3_clock-quartz-23.png"
            alt='Спецпредложение: Будильник Quartz-23'>
        </picture>
        <h3 class="special-offers__article-title">Будильник Quartz-23</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">1290 руб</span>
          <span class="special-offers__price-old">1890 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">- 300</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers4_mini-sculpture-on-my-deer.png"
            alt='Спецпредложение: Мини-скульптура "Oh my deer"'>
        </picture>
        <h3 class="special-offers__article-title">Мини-скульптура "Oh my deer"</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">690 руб</span>
          <span class="special-offers__price-old">990 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">- 10 000</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers5_sofa-ven-flock-z85.png"
            alt='Спецпредложение: Диван вен-флок Z-85'>
        </picture>
        <h3 class="special-offers__article-title">Диван вен-флок "Z-85"</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">22990 руб</span>
          <span class="special-offers__price-old">32990 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">- 700</div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="">
          <img class="special-offers__img" src="/img/1920/special-offers6_thermometer-hydrometer-h18.png"
            alt='Спецпредложение: Термометр + гидрометр H-18'>
        </picture>
        <h3 class="special-offers__article-title">Термометр + гидрометр "H-18"</h3>
        <div class="special-offers__price">
          <span class="special-offers__price-new">1390 руб</span>
          <span class="special-offers__price-old">2090 руб</span>
        </div>
        <div class="special-offers__btn">Купить</div>
      </article>
    </div>

  </div>
</section>