<section class="special-offers">
  <div class="special-offers__container container">
    <div class="special-offers__header">
      <h2 class="special-offers__title title">Специальные предложения</h2>
    </div>

    <div class="special-offers__grid">
      <article class="special-offers__article">
        <div class="special-offers__sale">
          <span class="visually-hidden">Иконка выделяемая для распродажи</span>
          <svg class="special-offers__sale-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_decoration-arrow"></use>
          </svg>
          <span class="special-offers__sale-price">&ndash; 9 000</span>
        </div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="" />
          <img
            class="special-offers__img"
            src="img/1920/special-offers1_armchair-velour-x24.png"
            alt="Спецпредложение: Кресло велюровое Х-24"
          />
        </picture>
        <div class="special-offers__text">
          <h3 class="special-offers__article-title title">
            Кресло велюровое "X-24"
          </h3>
          <div class="special-offers__price">
            <span class="special-offers__price-new">15990 руб</span>
            <span class="special-offers__price-old">24990 руб</span>
          </div>
          <button
            type="button"
            aria-label="Купить Кресло велюровое X-24"
            class="special-offers__btn btn-reset"
          >
            Купить
          </button>
        </div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">
          <span class="visually-hidden">Иконка выделяемая для распродажи</span>
          <svg class="special-offers__sale-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_decoration-arrow"></use>
          </svg>
          <span class="special-offers__sale-price">&ndash; 10 000</span>
        </div>
        <picture class="special-offers__picture">
          <source
            media="(max-width: 1300px)"
            srcset="img/1024/special-offers2_sofa-fabric-z44_1024.png"
          />
          <source
            media="(min-width: 1301px)"
            srcset="img/1920/special-offers2_sofa-fabric-z44.png"
          />
          <img
            class="special-offers__img"
            src="img/1920/special-offers2_sofa-fabric-z44.png"
            alt="Спецпредложение: Диван тканевый Z-44"
          />
        </picture>
        <div class="special-offers__text">
          <h3 class="special-offers__article-title title">
            Диван тканевый "Z-44"
          </h3>
          <div class="special-offers__price">
            <span class="special-offers__price-new">22990 руб</span>
            <span class="special-offers__price-old">32990 руб</span>
          </div>
          <button
            type="button"
            aria-label="Купить Диван тканевый Z-44"
            class="special-offers__btn btn-reset"
          >
            Купить
          </button>
        </div>
      </article>

      <article class="special-offers__article">
        <div class="special-offers__sale">
          <span class="visually-hidden">Иконка выделяемая для распродажи</span>
          <svg class="special-offers__sale-icon" aria-hidden="true">
            <use xlink:href="img/sprite.svg#icon_decoration-arrow"></use>
          </svg>
          <span class="special-offers__sale-price">&ndash; 600</span>
        </div>
        <picture class="special-offers__picture">
          <source media="(min-width: )" srcset="" />
          <img
            class="special-offers__img"
            src="img/1920/special-offers3_clock-quartz-23.png"
            alt="Спецпредложение: Будильник Quartz-23"
          />
        </picture>
        <div class="special-offers__text">
          <h3 class="special-offers__article-title title">
            Будильник "Quartz-23"
          </h3>
          <div class="special-offers__price">
            <span class="special-offers__price-new">1290 руб</span>
            <span class="special-offers__price-old">1890 руб</span>
          </div>
          <button
            type="button"
            aria-label="Купить Будильник Quartz-23"
            class="special-offers__btn btn-reset"
          >
            Купить
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
