<section class="top-categories">
  <div class="top-categories__conatiner container">

    <h2 class="top-categories">
      Топ категории
    </h2>

    <div class="top-categories__grid grid">

      <div class="top-categories__sofas">
        <ul class="top-categories__list">
          <li class="top-categories__item">Прямые</li>
          <li class="top-categories__item">Угловые</li>
          <li class="top-categories__item">Модульные</li>
        </ul>
        <h3 class="top-categories__subtitle title">
          Диваны
        </h3>
        <a href="#" class="top-categories__link">
          В каталог
        </a>
      </div>

      <div class="top-categories__armchairs">
        <ul class="top-categories__list">
          <li class="top-categories__item">Мягкие</li>
          <li class="top-categories__item">Кресла-кровати</li>
        </ul>
        <h3 class="top-categories__subtitle title">
          Кресла
        </h3>
        <a href="#" class="top-categories__link">
          В каталог
        </a>
      </div>

      <div class="top-categories__beds">
        <ul class="top-categories__list">
          <li class="top-categories__item">Односпальные</li>
          <li class="top-categories__item">Двуспальные</li>
        </ul>
        <h3 class="top-categories__subtitle title">
          Кровати
        </h3>
        <a href="#" class="top-categories__link">
          В каталог
        </a>
      </div>

      <div class="top-categories__dressers">
        <ul class="top-categories__list">
          <li class="top-categories__item">Тумбы</li>
          <li class="top-categories__item">Комоды</li>
        </ul>
        <h3 class="top-categories__subtitle title">
          Тумбы и комоды
        </h3>
        <a href="#" class="top-categories__link">
          В каталог
        </a>
      </div>

      <div class="top-categories__chairs">
        <ul class="top-categories__list">
          <li class="top-categories__item">Деревянные</li>
          <li class="top-categories__item">Металлокаркас</li>
        </ul>
        <h3 class="top-categories__subtitle title">
          Стулья
        </h3>
        <a href="#" class="top-categories__link">
          В каталог
        </a>
      </div>

    </div>

  </div>
</section>