<section class="top-categories">
  <div class="top-categories__conatiner container">
    <h2 class="top-categories__title title">Топ категории</h2>

    <div class="top-categories__grid">
      <div class="top-categories__grid-item top-categories__grid-item--sofas">
        <ul class="top-categories__list list-reset">
          <li class="top-categories__item">Прямые</li>
          <li class="top-categories__item">Угловые</li>
          <li class="top-categories__item">Модульные</li>
        </ul>
        <h3 class="top-categories__subtitle title">Диваны</h3>
        <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
          <span class="top-categories__link-span">В каталог</span>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-circle-icon"
            aria-label="Перейти в каталог"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_circle"></use>
          </svg>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-arrow-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
          </svg>
        </a>
      </div>

      <div
        class="top-categories__grid-item top-categories__grid-item--armchairs"
      >
        <ul class="top-categories__list list-reset">
          <li class="top-categories__item">Мягкие</li>
          <li class="top-categories__item">Кресла-кровати</li>
        </ul>
        <h3 class="top-categories__subtitle title">Кресла</h3>
        <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
          <span class="top-categories__link-span">В каталог</span>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-circle-icon"
            aria-label="Перейти в каталог"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_circle"></use>
          </svg>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-arrow-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
          </svg>
        </a>
      </div>

      <div class="top-categories__grid-item top-categories__grid-item--beds">
        <ul class="top-categories__list list-reset">
          <li class="top-categories__item">Односпальные</li>
          <li class="top-categories__item">Двуспальные</li>
        </ul>
        <h3 class="top-categories__subtitle title">Кровати</h3>
        <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
          <span class="top-categories__link-span">В каталог</span>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-circle-icon"
            aria-label="Перейти в каталог"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_circle"></use>
          </svg>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-arrow-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
          </svg>
        </a>
      </div>

      <div
        class="top-categories__grid-item top-categories__grid-item--dressers"
      >
        <ul class="top-categories__list list-reset">
          <li class="top-categories__item">Тумбы</li>
          <li class="top-categories__item">Комоды</li>
        </ul>
        <h3 class="top-categories__subtitle title">Тумбы и комоды</h3>
        <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
          <span class="top-categories__link-span">В каталог</span>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-circle-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_circle"></use>
          </svg>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-arrow-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
          </svg>
        </a>
      </div>

      <div class="top-categories__grid-item top-categories__grid-item--chairs">
        <ul class="top-categories__list list-reset">
          <li class="top-categories__item">Деревянные</li>
          <li class="top-categories__item">Металлокаркас</li>
        </ul>
        <h3 class="top-categories__subtitle title">Стулья</h3>
        <a href="#" class="top-categories__link" aria-label="Перейти в каталог">
          <span class="top-categories__link-span">В каталог</span>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-circle-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_circle"></use>
          </svg>
          <span class="visually-hidden">В каталог</span>
          <svg
            class="top-categories__link-arrow-icon"
            aria-label="Перейти в каталог"
            aria-hidden="true"
            role="button"
          >
            <use xlink:href="img/sprite.svg#icon_arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
