<section class="useful">
  <div class="useful__container container">
    <h2 class="useful__title title">
      Полезное
    </h2>

    <div class="useful__nav-btn">
      <button class="useful__left-btn"></button>
      <button class="useful__right-btn"></button>
    </div>

    <div class="useful__grid grid">
      
      <article class="useful__article">
        <picture class="useful__picture">
          <source media="(min-width: )" srcset="">
          <img class="useful__img" src="img/1920/useful_post1.jpg" alt="Категория - диваны">
        </picture>
        <p class="useful__description">
          И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
        </p>
        <button class="useful__btn">
          Читать
        </button>
      </article>

      <article class="useful__article">
        <picture class="useful__picture">
          <source media="(min-width: )" srcset="">
          <img class="useful__img" src="img/1920/useful_post2.jpg" alt="Категория - диваны">
        </picture>
        <p class="useful__description">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <button class="useful__btn">
          Читать
        </button>
      </article>

      <article class="useful__article">
        <picture class="useful__picture">
          <source media="(min-width: )" srcset="">
          <img class="useful__img" src="img/1920/useful_post3.jpg" alt="Категория - диваны">
        </picture>
        <p class="useful__description">
          Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
        </p>
        <button class="useful__btn">
          Читать
        </button>
      </article>

      <article class="useful__article">
        <picture class="useful__picture">
          <source media="(min-width: )" srcset="">
          <img class="useful__img" src="img/1920/useful_post4.jpg" alt="Категория - диваны">
        </picture>
        <p class="useful__description">
          Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
        </p>
        <button class="useful__btn">
          Читать
        </button>
      </article>

      <article class="useful__article">
        <picture class="useful__picture">
          <source media="(min-width: )" srcset="">
          <img class="useful__img" src="img/1920/useful_post5.jpg" alt="Категория - диваны">
        </picture>
        <p class="useful__description">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <button class="useful__btn">
          Читать
        </button>
      </article>

    </div>
  </div>
</section>
