<section class="useful">
  <div class="useful__container container">
    <h2 class="useful__title title">Полезное</h2>

    <div class="useful__grid">
      <article class="useful__article">
        <picture class="useful__picture">
          <source
            media="(max-width: 1300px)"
            srcset="img/1024/useful_post1_1024.jpg"
          />
          <source
            media="(min-width: 1301px)"
            srcset="img/1920/useful_post1.jpg"
          />
          <img
            class="useful__img"
            src="img/1920/useful_post1.jpg"
            alt="Категория - диваны"
          />
        </picture>
        <div class="useful__text">
          <p class="useful__description">
            И нет сомнений, что сделанные на базе интернет-аналитики выводы
            представляют собой не что иное?
          </p>
          <button
            type="button"
            aria-label="Читать пост"
            class="useful__btn btn-reset"
          >
            Читать
          </button>
        </div>
      </article>

      <article class="useful__article">
        <picture class="useful__picture">
          <source
            media="(max-width: 1300px)"
            srcset="img/1024/useful_post2_1024.jpg"
          />
          <source
            media="(min-width: 1301px)"
            srcset="img/1920/useful_post2.jpg"
          />
          <img
            class="useful__img"
            src="img/1920/useful_post2.jpg"
            alt="Категория - диваны"
          />
        </picture>
        <div class="useful__text">
          <p class="useful__description">
            Как принято считать, некоторые особенности приносят несомненную
            пользу обществу?
          </p>
          <button
            type="button"
            aria-label="Читать пост"
            class="useful__btn btn-reset"
          >
            Читать
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
