// color
$color-white: #fff;
$color-black: #333;
$color-gray: #999;
$color-primary: #a65cf0;
$color-light-primary: #c998fb;
$color-dark-primary: #7033ac;
$color-violet: #7b61ff;
$color-pink-violet: #ebd1ff;
$color-orange: #ff862f;
$color-light-orange: #ffbd59;
$color-dark-orange: #bb370e;
$color-light-gray: #f6f6f6;
$color-middle-gray: #eaeaea;
$color-dark-gray: #666;
$color-gold: #d5b986;
$color-sandy: #fff5d1;
$color-light-pink: #f8efff;
$color-light-green: #b8ec64;

// container
$containerMaxWidth: 1340px;

// container-offset
$containerOffset: 30px;

// breakpoints
$desktop: 1360px;
$laptop: 1024px;
$tablet-mini: 768px;
$mobile: 576px;

// font-family-default
$fontFamily-OpenSans: "OpenSans", sans-serif;
$fontFamily-PlayfairDisplay: "PlayfairDisplay", sans-serif;

// font-weight-default
$fontWeight-Regular: 400;
$fontWeight-SemiBold: 600;
$fontWeight-Bold: 700;
$fontWeight-Black: 900;

// font-normal
$fontNormal: normal;
