<div class="intro">
    <div class="intro__container container">

        <h2 class="intro__title title">
            Сотрудничество
        </h2>

        <div class="intro__supplier">
            <h3 class="intro__subtitle title">
                Поставщикам
            </h3>
            <p class="intro__description">
                При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей:
                грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо
                комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания
                эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего
                трафика.
            </p>
        </div>

        <div class="intro__what-get">
            <h3 class="intro__subtitle title">
                Что вы получаете?
            </h3>
            <ul class="intro__list list-reset">
                <li class="intro__item">Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и
                    архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
                </li>
                <li class="intro__item">
                    Комплексное решение для красивого и функционального обустройства любых пространств.
                </li>
                <li class="intro__item">
                    В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях
                    разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
                </li>
            </ul>
        </div>

    </div>
</div>