<div class="cooperation-with-suppliers">
  <div class="cooperation-with-suppliers__container container">
    <h2 class="cooperation-with-suppliers__title title">Сотрудничество</h2>

    <div class="cooperation-with-suppliers__supplier">
      <h3 class="cooperation-with-suppliers__subtitle title">Поставщикам</h3>
      <p class="cooperation-with-suppliers__description">
        При планировании обстановки торгового помещения важно обустроить его с
        комфортом для покупателей: грамотно зонировать, обеспечить эффективную
        демонстрацию и хранение товаров в зале. Если вам необходимо комплексное
        оснащение, организация зоны отдыха или отдельные предметы меблировки для
        поддержания эффективной торговой деятельности, мы поможем выбрать
        продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>

    <div class="cooperation-with-suppliers__what-get">
      <h3 class="cooperation-with-suppliers__subtitle title">
        Что вы получаете?
      </h3>
      <ul class="cooperation-with-suppliers__list-what-get list-reset">
        <li class="cooperation-with-suppliers__item-what-get">
          <div class="cooperation-with-suppliers__item-wrapper">
            <span class="visually-hidden">Иконка идеи и вдохновение</span>
            <svg
              class="cooperation-with-suppliers__item-icon"
              aria-hidden="true"
            >
              <use xlink:href="img/sprite.svg#icon_network"></use>
            </svg>
          </div>

          <span class="cooperation-with-suppliers__item-text">
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым
            дизайнерам и архитекторам. Выпускаемая нами продукция гармонично
            дополнит любой современный проект.</span
          >
        </li>
        <li class="cooperation-with-suppliers__item-what-get">
          <div class="cooperation-with-suppliers__item-wrapper">
            <span class="visually-hidden">Иконка комплексное решение</span>
            <svg
              class="cooperation-with-suppliers__item-icon"
              aria-hidden="true"
            >
              <use xlink:href="img/sprite.svg#icon_briefcase"></use>
            </svg>
          </div>

          <span class="cooperation-with-suppliers__item-text">
            Комплексное решение для красивого и функционального обустройства
            любых пространств.
          </span>
        </li>
        <li class="cooperation-with-suppliers__item-what-get">
          <div class="cooperation-with-suppliers__item-wrapper">
            <span class="visually-hidden">Иконка товарные группы</span>
            <svg
              class="cooperation-with-suppliers__item-icon"
              aria-hidden="true"
            >
              <use xlink:href="img/sprite.svg#icon_git-pull-request"></use>
            </svg>
          </div>

          <span class="cooperation-with-suppliers__item-text">
            В ассортименте представлены все товарные группы для того, чтобы
            воссоздать обстановку в помещениях разных типов: кабинетах,
            смешанных пространствах, Open Space, гостевых и переговорных
            комнатах.
          </span>
        </li>
      </ul>
    </div>

    <div class="cooperation-with-suppliers__advantages">
      <h3
        class="cooperation-with-suppliers__subtitle cooperation-with-suppliers__subtitle--advantages title"
      >
        Ваши премущества от сотрудничества
      </h3>
      <ul class="cooperation-with-suppliers__list-advantages list-reset">
        <li class="cooperation-with-suppliers__item">
          <div class="cooperation-with-suppliers__item-number">
            Возможность 1:
          </div>
          <div class="cooperation-with-suppliers__item-description">
            Создавайте незабываемые впечатления. Красиво меблированная
            фотостудия не оставит клиентов равнодушными, а созданная интерьером
            атмосфера будет надолго запечатлена на их снимках. Стильная и
            разноплановая обстановка творческого пространства – ключевая
            составляющая его успешной деятельности. Позаботьтесь о людях в
            кадре, а мы поможем правильно выбрать мебель.
          </div>
        </li>
        <li class="cooperation-with-suppliers__item">
          <div class="cooperation-with-suppliers__item-number">
            Возможность 2:
          </div>
          <div class="cooperation-with-suppliers__item-description">
            Мы предлагаем застройщикам, работающим на территории РФ, участие
            наших специалистов от этапа проектирования обстановки квартир и
            подбора комплексных интерьерных решений до оптовых поставок мебели.
            Поможем организовать демонстрационный зал с образцами изделий и
            материалов на площади нового здания, чтобы покупатель
            заблаговременно подобрал тот вариант меблировки, который
            удовлетворит даже самые взыскательные ожидания.
          </div>
        </li>
      </ul>
    </div>

    <div class="cooperation-with-suppliers__guarantee">
      <h3 class="cooperation-with-suppliers__subtitle title">Гарантии</h3>
      <ul class="cooperation-with-suppliers__list-guarantee list-reset">
        <li class="cooperation-with-suppliers__item-guarantee">
          <span class="cooperation-with-suppliers__item-guarantee-number"
            >1</span
          >
          <span class="cooperation-with-suppliers__item-guarantee-text">
            При приемке товара Покупатель должен внимательно проверить его
            количество, качество и ассортимент на соответствие сопроводительным
            документам и заказу. После подписания товарного чека Покупатель
            утрачивает право предъявления претензий, которые можно выявить при
            приемке товара.
          </span>
        </li>
        <li class="cooperation-with-suppliers__item-guarantee">
          <span class="cooperation-with-suppliers__item-guarantee-number"
            >2
          </span>
          <span class="cooperation-with-suppliers__item-guarantee-text">
            На товары, сборка которых производилась покупателем самостоятельно
            (не специалистами Продавца), гарантийные обязательства Продавца не
            распространяются. Также гарантия не распространяется на повреждения
            товара, полученные в ходе самостоятельной доставки и подъема товара.
            Покупатель не вправе отказаться от товара надлежащего качества,
            имеющего индивидуально-определенные свойства, т.е. если товар может
            быть использован исключительно приобретающим его потребителем.
          </span>
        </li>
        <li class="cooperation-with-suppliers__item-guarantee">
          <span class="cooperation-with-suppliers__item-guarantee-number">
            3
          </span>
          <span class="cooperation-with-suppliers__item-guarantee-text">
            Возврат или обмен товара возможен при условии, что сохранена
            упаковка, товарный вид и потребительские свойства товара, а также
            товарный и кассовый чеки. В этом случае мы гарантируем вам возврат
            полной стоимости товара (за вычетом стоимости доставки). В случае
            отказа от товара при доставке, клиент оплачивает услуги доставки.
          </span>
        </li>
      </ul>
    </div>

    <div class="cooperation-with-suppliers__term">
      Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
    </div>
  </div>
</div>
